examples/simple-helper-inject.json
[
    {
        "id": "0dd3ccac79e5d7ee",
        "type": "tab",
        "label": "Test-Helper Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a9325ddc82ea17b",
        "type": "helper",
        "z": "0dd3ccac79e5d7ee",
        "name": "helper 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "919032af611ecab5",
        "type": "inject",
        "z": "0dd3ccac79e5d7ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "55dc59f51c621259",
                "1a9325ddc82ea17b"
            ]
        ]
    },
    {
        "id": "55dc59f51c621259",
        "type": "debug",
        "z": "0dd3ccac79e5d7ee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "698675acd0d9160d",
        "type": "comment",
        "z": "0dd3ccac79e5d7ee",
        "name": "Debug vs. Test-Helper",
        "info": "All messages from the \ndebug and the Test-Helper views \nare separated and not mixed. \n\nSee the views at the right side of Node-RED:\n\n - debug\n - Test-Helper",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed1bde92d344fa22",
        "type": "inject",
        "z": "0dd3ccac79e5d7ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "55dc59f51c621259"
            ]
        ]
    },
    {
        "id": "5cdded0cb3764dd2",
        "type": "inject",
        "z": "0dd3ccac79e5d7ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "1a9325ddc82ea17b"
            ]
        ]
    }
]